html {
    background-color: rgb(255, 255, 255);
}

.carousel-inner {
    height: 500px; /* Defina a altura desejada para o carrossel */
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Corta a imagem para preencher o contêiner sem distorção */
}

.card {
    width: 100%;;}

    hr {
        margin: 50px;
    }
